.ilan-türleri{
    width: 80%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    border-radius: 25px;
}
.ilan-türleri a{
    font-family: 'Cormorant Upright', serif;
    font-size: 2rem;
    color: white;
    width: auto;
    height: auto;
    padding: 2rem;
    border: none;
    border-radius: 2rem;
    font-weight: 900;
}
.ilan-türleri .uzman{
    background: rgb(194, 169, 169);
}
.ilan-türleri .işçi{
    background: rgb(194, 169, 169);

}
.ilan-türleri .yönetici{
    background: rgb(194, 169, 169);

}
.ilan-türleri .beyaz-yaka{
    background: rgb(194, 169, 169);

}
.ilan-türleri .engelli{
    background: rgb(194, 169, 169);

}
.ilan-türleri .stajyer{
    background: rgb(194, 169, 169);
}
@media (min-width: 480px) and (max-width: 991px) {
    .ilan-türleri a{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 479px){
    .ilan-türleri a{
        font-size: 1.2rem;
    }
}